<div class="row">
    <div class="column column-30 col-site-title"><a href="/home" class="site-title float-left">EDUCATION GOOD</a></div>
    <!-- <div class="column column-40 col-search"><a href="#" class="search-btn fa fa-search"></a>
        <input type="text" name="" value="" placeholder="Search..." />
    </div> -->
    <div class="column column-30">
        <div class="user-section" *ngIf="displayName" style="display:inline-block;float:right;">
          
            <img src="{{photoURL}}" alt="profile photo" class="circle float-left profile-photo" width="50" height="50"
            (click)="openUserProfileDialog()">
            <div class="username" *ngIf="displayName">
                <h4>{{displayName}}</h4>
                <div>Administrator</div>
                <div *ngIf="displayName" id="logout" (click)="Logout()">Log out</div>
            </div>
           
            
        </div>
        <div class="user-section" *ngIf="!displayName"><a href="#">
                <img src="../../../assets/images/ava_50x50.jpg" alt="profile photo"
                    class="circle float-left profile-photo" width="50" height="50">
            </a></div>
    </div>
</div>