<div class="row">
    <div class="column column-30 col-site-title"><a href="#" class="site-title float-left">EDUCATION GOOD</a></div>
    <div class="column column-40 col-search"><a href="#" class="search-btn fa fa-search"></a>
        <input type="text" name="" value="" placeholder="Search..." />
    </div>
    <div class="column column-30">
        <div class="user-section"><a href="#">
            <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/270763709_2955795624633392_2608745043649090901_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=hz56SllO5nEAX-5rB8q&_nc_ht=scontent.fsgn5-5.fna&oh=00_AT8hTlFdZCXg8ZTmdjcV3PobKixeLPHpocK9yFia6lZPQw&oe=62A529C3" alt="profile photo" class="circle float-left profile-photo" width="50" height="50">
            <div class="username">
                <h4 style="padding: 10px 0 0 0">Đức Mạnh</h4>
                <p>Administrator</p>
            </div>
        </a></div>
    </div>
</div>
