<div class="window">
    <div class="overlay"></div>
    <div class="box header">
      <img [src]="this.photoURL" alt="photoURL" />
      <h2>{{this.displayName}}</h2>
    </div>
    <div class="box footer">
      <form >
        <input ngModel placeholder="Name" [(ngModel)]="displayName"  name ="displayName" type="text"/>
        <input ngModel placeholder="PhotoURL" [(ngModel)]="photoURL"  name ="photoURL" type="text"/>
        <button class="btn"(click)="update()">Update</button>
      </form>
    </div>
  </div>