#input-form {
    text-align: center;
    justify-content: center;
    height: 550px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

::ng-deep .mat-dialog-container {
    padding: 0;
}