
<body>
    <div class="login-page">
        <div class="form" >
          <form class="login-form" >
          
            <input ngModel placeholder="Email address" [(ngModel)]="email" name ="email"  type="text"/>
            <input ngModel placeholder="Password" [(ngModel)]="password"  name ="password" type="password"/>
            <button (click)="tryCreateFirebaseAccount()">Sign up</button>
            <p class="message">Already registered? <a [routerLink]="['']">Sign In</a></p>
          </form>

        </div>
      </div>
  
</body>
